@page
@model MacauModel
@{
    ViewData["Title"] = "Macau Game";
}

<div class="text-center">
    <h1 class="display-4">Macau</h1>
    <p>This is a page for the Macau game!</p>
    <h4>link to the game on my PC
        <a href="C:\Users\spryt\source\repos\spryt13\Cards\bin\Debug\net6.0\Cards.exe">here</a>
    </h4>
</div>
<div>
    
</div>
